#experience {
    display: flex;
    flex-direction: row;

}

.skills-page {
    padding-top: 12%;
}


@media (max-width: 530px) {
    .skills-page {
        width: 86%;
        padding-top: 30%;
    }
    
    .text-zone {
        h1 {
            font-size: 31px;
        }
   }
}
