.skills-page {
    padding-top: 12%;
    width: 40%;
}


@media (max-width: 530px) {
    .skills-page {
        width: 100%;
        padding-top: 30%;
    }
    
    .text-zone {
        h1 {
            font-size: 31px;
        }
   }
}
