.home-page {

    .main {
        position: absolute;
        // left: 10px;
        top: 165px;
        // transform: translateY(-50%);
        // width: 40%;
        max-height: 90%;
    }
    h1 {
        font-size: 53px;
        margin: 0;
        font-family: 'coolvertica';
        font-weight: 400;

        &::before {
            content: '< >';
            font-size: 18px;
            color: rgb(199, 201, 92);
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after {
            content: '</ >';
            font-size: 18px;
            color: rgb(199, 201, 92);
            margin-top: 18px;
            position: absolute;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }

    h2 {
        color: #8d8d8d;
        margin-top: 20px;
        padding-bottom: 20px;
        font-weight: 400;
        font-family: 'sans-serif';
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }
 }

// .hero_content {
//     display: flex;
//     justify-content: center;
// }

.hero-img {
    padding-top: 10%;
    padding-left: 70%;
}

.hero-img img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    
}

@media (max-width: 530px) {
    .home-page {
        .main {
            position: unset;
            top: 405px;
        }

        h1 {
            padding-top: 155px;
            font-size: 31px;
        }
    }

    .hero-img {
        padding-top: 18%;
        padding-left: 0;
    }
}