.side-bar {
    background-color: #181818;
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    min-height: 500px;
    
    .brand {
        padding: 8px 0;
        display: block;
        color: white;
        text-decoration: none;
        font-weight: 600;
        text-align: center;
        font-size: 1.4rem;
    }

    .nav-links {
        display: block;
        text-align: center;
        position: absolute;
        height: 210px;
        top: 50%;
        margin-top: -120px;
        width: 100%;
    
        a {
            font-size: 22px;
            color: #4d4d4e;
            display: block;
            line-height: 51px;
            height: 51px;
            position: relative;
            text-decoration: none;
    
            i {
                transition: all 0.3s ease-out;
            }
    
            &:hover {
                color: white;
    
                svg {
                    opacity: 0;
                }
    
                &:after {
                    opacity: 1;
                }
            }
    
            &:after {
                content: '';
                font-size: 9px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
            }

            &:first-child {
                &::after {
                    content: 'HOME';
                }
            }
        }

        a.about-link {
            &:after {
                content: 'ABOUT';
            }
        }

        a.portfolio-link {
            &:after {
                content: 'PORTFOLIO';
            }
        }

        a.skills-link {
            &:after {
                content: 'SKILLS';
            }
        }

        a.contact-link {
            &:after {
                content: 'CONTACT';
            }
        }

        a.active {
            svg {
                color: white;
            }
        }
    }

    ul {
        position: absolute;
        bottom: 20px;
        width: 100px;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;

        li {
            a {
                padding: 7px 0;
                display: block;
                font-size: 15px;
                line-height: 16px;

                &:hover svg {
                    color: white;
                }
            }
        }
    }
}

.mobile-link {
    display: none;
  }

//   .nav-links-mobile {
//     display: none;
//   }

@media (max-width: 960px) {
.side-bar {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    min-height: 0;

    .brand {
        float: left;
        padding: 14px 0;
        margin-right: 20px;
    }

    .nav-links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 42%;
        position: absolute;
        left: 50%;
        margin-left: -19%;
        float: left;
        overflow: hidden;
        text-align: center;
        height: 60px;
        top: 0;
        margin-top: 0;

        
    }

    ul {
        position: static;
        bottom: 20px;
        width: auto;
        height: 60px;
        line-height: 60px;
        display: flex;
        align-items: center;
        padding: 0;
        list-style: none;
        text-align: center;
        margin-right: 10px;
        float: right;

        li {
            margin-right: 10px;
        }
    }

  }

  .mobile-link {
    display: none;
  }
}

@media (max-width: 530px) {
    .side-bar {
        position: fixed;

        .nav-links {
            display: none;
        }

        li {
            display: none;
        }
    }

    .nav-links-mobile {
        position: absolute;
        display: flex;
        align-items: center;
        background-color: black;
        left: 0;
        top: 58px;
        transition: all 0.5s ease-out;
        width: 100%;
    }

    .home-link,
    .about-link,
    .portfolio-link,
    .skills-link,
    .contact-link {
         text-align: center;
        padding: 32px;
        width:  100%;
        font-size: 19px;
        align-items: center;
        transition: all 0.5s ease;
    }

    .mobile-link {
        font-size: 30px;
        color: #fff;
        float: right;
        margin: 10px 20px 10px 10px;
        display: block;
    }
}